.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeContainer h1 {
    align-self: flex-start;
    margin: 44px 0 24px;
    font-size: 36px;
    color: white;
}

.homeContainer p {
    text-align: center;
    color: whitesmoke;
}

.image {
    max-height: 200px;
    max-width: 200px;
    border-radius: 50%;
    margin: 40px 0 40px;
    filter: grayscale(100%);
    user-select: none;
    -webkit-user-drag: none;  
}

.containerLogos {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.containerLogos img {
    height: 40px;
    margin: 2px;
    user-select: none;
    -webkit-user-drag: none;
}

@media screen and (max-width: 320px) {
    .containerLogos {
        margin-top: 30px;
        flex-wrap: wrap;
    }

    .icon6 , .icon7 {
        display: none;
    }
}

@media (min-width: 768px) {
    .containerLogos {
        margin-top: 49px;
        margin-bottom: 49px;
    }

    .containerLogos img {
        height: 46px;
    }
    
    .image {
        max-height: 260px;
        max-width: 260px;
    }
}