.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeContainer h1 {
    align-self: flex-start;
    margin: 44px 0 24px;
    font-size: 36px;
    color: white;
}

.homeContainer p {
    text-align: center;
    color: whitesmoke;
}

.profile_image_container {  
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 40px 0 40px;
    height: 260px;
}

.image {
    max-height: 200px;
    max-width: 200px;
    border-radius: 50%;
    filter: grayscale(100%);
    user-select: none;
    -webkit-user-drag: none;
    opacity: 0; /* Comienza con opacidad 0 */
    animation: fadeIn 0.4s ease-in-out forwards;
}

 @keyframes fadeIn {
    0% {
        opacity: 0; /* Opacidad inicial al 0% */
    }
    100% {
        opacity: 1; /* Opacidad final al 100% */
    }
}  

.containerLogos {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

.containerLogos img {
    height: 40px;
    margin: 2px;
    user-select: none;
    -webkit-user-drag: none;
}

@media screen and (max-width: 320px) {
    .containerLogos {
        margin-top: 30px;
        flex-wrap: wrap;
    }

    .icon6 , .icon7 {
        display: none;
    }
}

@media (min-width: 768px) {
    .containerLogos {
        margin-top: 70px;
    }

    .containerLogos img {
        height: 46px;
    }
    
    .image {
        max-height: 260px;
        max-width: 260px;
    }
}

@media (min-width: 1024px) {
    .homeContainer {
        justify-content: center;
    }

    .containerLogos img {
        height: 48px;
    }

    .containerLogos {
        margin: 90px 0 0;
    }

    .homeContainer p {
        margin: 0 48px;
    }

    .homeContainer h1 {
        margin-bottom: 38px;
    }

    .containerLogos img:hover {
        transition: 0.6s;
        transform: scale(1.2);
     }
     
} 