.container {
    display: flex;
    flex-direction:row-reverse;
    margin-top: 10px;
    margin-right: 20px;
    height: 36px;
}

@media (max-width:320px) {
    .container {
        margin-right: 0;
        align-self: center;
        margin-bottom: 8px;
    } 
}