.containerAbout {
    display: flex;
    flex-direction: column;
    opacity: 0; /* Comienza con opacidad 0 */
    animation: fadeIn 0.4s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0; /* Opacidad inicial al 0% */
    }
    100% {
        opacity: 1; /* Opacidad final al 100% */
    }
}

.containerButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerButtons a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: white;
    font-size: 16px;
    width: 100%;
    height: 50px;
    align-items: center;
    border: 2px outset white;
    margin: 9px 0;
    padding: 0px 18px;
    border-radius: 20px;
    border-color: #9a48af80;
}

.containerImgSpan {
    display: flex;
    align-items: center;
}

.containerImgSpan span {
    margin-left: 14px;
}

.contactIcon {
    object-fit: contain;
    width: 24px;
    user-select: none;
    -webkit-user-drag: none;
}

.arrow {
    object-fit: contain;
    width: 16px;
    user-select: none;
    -webkit-user-drag: none;
}

.containerAbout h1 {
    margin: 44px 0 14px;
    font-size: 36px;
}

.containerAbout p {
    margin: 10px 12px;
    color: #e5e5e5;
    text-align: left;
}

.containerAbout hr {
    opacity: 50%;
    margin: 10px 0 10px;
    width: 84vw;
    align-self: center;
}

.containerButtons {
    margin: 14px 12px 24px;
}

.containerButtons a:active {
    background-color: #9a48af80;
}

@media screen and (max-width: 320px) {
    .containerAbout h1 {
        margin-top: 20px;
    }
}

@media (min-width: 768px) {
    .containerAbout hr {
        margin: 20px 0;
        width: 52vw;
    }

    .containerButtons {
        margin-top: 40px;
        margin-bottom: 50px;
    }

    .containerButtons a {
        margin: 12px 0;
    }
}

@media (min-width: 1024px) {
    .containerAbout h1 {
        margin-bottom: 18px;
    }

    .containerAbout p {
        margin: 20px 48px;
        text-align: left;
    }

    .containerButtons {
        flex-direction: row;
        justify-content: center;
        margin-top: 80px;
        margin-bottom: 0;
    }

    .containerButtons a {
        margin: 0 20px;
    }

    .containerAbout hr {
        width: 100%;
        align-self: flex-start;
    }

    .containerButtons a:hover {
        transition: 0.3s;
        background-color: #9a48af80;
    }

    .containerButtons a:active {
        transition: 0.1s;
        background-color: transparent;
    }
}