.containerProject {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    opacity: 0; /* Comienza con opacidad 0 */
    animation: fadeIn 0.4s ease-in-out forwards;
}

.containerImg {
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 10px;
    border: inset 2px rgb(255, 255, 255);
    border-radius: 20%;
}

.imgProject {
    object-fit: contain;
    width: 240px;
    height: 240px;
    padding: 10px;
    user-select: none;
    -webkit-user-drag: none;
}

 @keyframes fadeIn {
    0% {
        opacity: 0; /* Opacidad inicial al 0% */
    }
    100% {
        opacity: 1; /* Opacidad final al 100% */
    }
}


.containerTitle {
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 44px 0 4px;
}

.containerTitle h1 {
    font-size: 30px;
}

.containerTitle span {
    background-color: #9a48af80;
    border-radius: 10px;
    width: 50px;
    text-align: center;
    margin: 0 5px;
}

.pText {
    text-align: left;
    margin: 10px 0;
    color: #e5e5e5;
}

.containerSpan {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-size: 14px;
}

.containerSpan span {
    background-color: #9a48af80;
    border-radius: 10px;
    padding: 0 6px;
}

.containerSpan p {
    margin-top: 10px;
}

.containerSpan a {
    text-decoration: none;
    font-weight: 600;
    color: #9a48afb5;
}

.aBack {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 16px;
    width: 120px;
    height: 44px;
    align-items: center;
    border: 2px outset white;
    margin: 20px auto;
    padding: 10px;
    border-radius: 20px;
    border-color: #9a48af80;
}
/* #9a48afb5 */
.aBack:active {
    background-color: #9a48af80;
}

@media screen and (max-width:320px) {
    .containerTitle {
        margin: 20px 0 4px;
    }
}

@media (min-width: 768px) {
    .containerImg {
        width: 260px;
        height: 260px;
    }

    .imgProject {
        width: 260px;
        height: 260px;  
    }
}

@media (min-width: 1024px) {
    .containerTitle {
        margin: 44px 0 28px;
        align-items: center;
    }

    .containerImg {
        margin-bottom: 20px;
        width: 280px;
        height: 280px;
    }

    .imgProject {
        width: 280px;
        height: 280px;
    }

    .aBack {
        margin: 26px auto 26px;
    }

    .aBack:hover {
        transition: 0.3s;
        background-color: #9a48af80;
    }

    .aBack:active {
        transition: 0.1s;
        background-color: transparent;
    }

    .containerSpan {
        margin-top: 0px;
    }
}