.containerProject {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    opacity: 0; /* Comienza con opacidad 0 */
    animation: fadeIn 0.4s ease-in-out forwards;
}

 @keyframes fadeIn {
    0% {
        opacity: 0; /* Opacidad inicial al 0% */
    }
    100% {
        opacity: 1; /* Opacidad final al 100% */
    }
}

.containerTitle {
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 65px 0 0;
}

.containerTitle h1 {
    font-size: 32px;
    color: white;
}

.carousel_container {
    margin: 20px 0 10px;
    height: 171.61px;
}

.containerTitle span {
    background-color: #9a48af80;
    border-radius: 10px;
    width: 50px;
    text-align: center;
    margin: 0 5px;
}

.pText_1 , .pText_2  , .pText_3 {
    text-align: left;
    color: #e5e5e5;
}

.pText_1 {
    margin: 10px 0;
}

.pText_2 {
    margin: 0 0 10px;
}

.containerSpan {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-size: 14px;
}

.containerSpan span {
    background-color: #9a48af80;
    border-radius: 10px;
    padding: 1px 6px;
}

.containerSpan p {
    margin-top: 10px;
}

.containerSpan a {
    text-decoration: none;
    font-weight: 600;
    color: #9a48afb5;
}

.aBack {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 16px;
    width: 100%;
    height: 44px;
    align-items: center;
    border: 2px outset white;
    margin: 20px auto;
    padding: 10px;
    border-radius: 20px;
    border-color: #9a48af80;
    cursor: pointer;
}
/* #9a48afb5 */
.aBack:active {
    background-color: #9a48af80;
}

.container_infotechs {
    margin-top: 10px;
}

.containerProject h3 {
    font-size: 26px;
    margin: 20px 0 20px;
    color: white;
}

.container_front_techs , .container_back_techs {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    border-left: solid 2px #9a48afad;
    border-bottom: solid 2px grey;
    padding: 0 0 15px 10px;
    border-bottom-left-radius: 4px;
}

.title_arrowLeft {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title_arrowLeft img {
    height: 34px;
    user-select: none;
    -webkit-user-drag: none;
    aspect-ratio: 1/1;
    filter: brightness(0.85);
}

.container_infotechs h4 { 
    font-size: 24px;
    font-weight: 600;
}

.container_logos {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    gap: 6px;
}

.container_logos img {
    user-select: none;
    -webkit-user-drag: none;
    height: 34px;
    filter: brightness(0.95);
}

.p_dependencies {
    color: #e5e5e5;
}

.noDeployed {
    cursor: help;
}

@media (min-width:375px) {
    .containerTitle h1 {
        font-size: 36px;
    }

    .carousel_container {
        height: 204.84px;
    }
}

@media (min-width:425px) {
    .carousel_container {
        height: 235.05px;
    }
}

@media (min-width: 768px) {
    .carousel_container {
        height: 343.48px;
    }
}

@media (min-width: 1024px) {
    .containerTitle {
        margin: 80px 0 28px;
        align-items: center;
    }

    .containerTitle h1 {
        font-size: 46px;
        margin-left: 1px;
    }

    .containerTitle span {
        font-size: 16.5px;
    }

    .containerSpan p {
        font-size: 16.5px;
    }

    .pText_1 , .pText_2 , .pText_3 {
        font-size: 17.5px;
    }

    .pText_1 {
        margin: 20px 0;
    }

    .pText_2 { 
        margin: 0 0 20px;
    }

    .container_infotechs p {
        font-size: 17.5px;
    }

    .containerProject h3 {
        font-size: 32px;
        margin: 40px 0 40px;
    }

    .container_infotechs {
        margin-top: 0;
        display: flex;
        justify-content: space-around;
    }

    .container_front_techs , .container_back_techs {
        width: 380px;
    }

    .container_infotechs h4 {
        font-size: 28px;
    }

    .aBack {
        margin: 60px auto 40px;
    }

    .aBack:hover {
        transition: 0.3s;
        background-color: #9a48af80;
    }

    .aBack:active {
        transition: 0.1s;
        background-color: transparent;
    }

    .containerSpan {
        margin-top: 0px;
    }

    .containerSpan p {
        margin-top: 12px;
    }

    .carousel_container {
        margin: 40px 0 20px;
        height: 497.91px;
    }

    .title_arrowLeft img {
        height: 42px;
    }

    .container_logos {
        gap: 10px;
    }

    .container_logos img {
        height: 38px;
    }
}