.containerProjects {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.h1_title {
    text-align: left;
    margin: 44px 0 10px;
    font-size: 36px;
}

.containerProjects p {
    margin-top: 4px;
    margin-bottom: 20px;
    color: #e5e5e5;
}

.a {
    text-decoration: none;
    color: whitesmoke;
}

.a img {
    object-fit: contain;
    width: 200px;
    height: 200px;
    border: inset 2px rgb(255, 255, 255);
    border-radius: 20%;
    padding: 8px;
    user-select: none;
    -webkit-user-drag: none;
    margin: 20px 0 20px;
}

.containerProjects hr {
    opacity: 50%;
    margin: 10px auto 10px;
    width: 84vw;
    align-self: center;
}

.viewMore {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    height: 28px;
    color: #9a48afb5;
    margin: 0 0 10px;
}

.a {
    pointer-events: none; /* Deshabilita eventos en los enlaces */
  }

@media screen and (max-width: 320px) {
    .h1_title {
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .containerProjects hr {
        width: 52vw;
    }
  }

@media (min-width: 1024px) {
    .containerProjects p {
        margin: 4px 48px 20px;
    }

    .h1_title {
        margin-bottom: 38px;
    }

    .div_a {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .containerProjects hr {
        display: none;
    }

    .div_a_project {
        width: 360px;
        margin: 0 20px;
    }

    .a img {
        width: 240px;
        height: 240px;
        margin: 20px 0 20px;
    }
}