.containerProjects {
    display: flex;
    flex-direction: column;
    text-align: center;
    opacity: 0; /* Comienza con opacidad 0 */
    animation: fadeIn 0.4s ease-in-out forwards;
}

.h1_title {
    text-align: left;
    margin: 44px 0 20px;
    font-size: 36px;
    color: white;
}

.containerProjects p {
    margin-top: 10px;
    margin-bottom: 0px;
    color: #e5e5e5;
    text-align: initial;
}

.cardProject {
    color: whitesmoke;
}

.containerImg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px;
}

.cardProject img {
    width: 100%;
    user-select: none;
    -webkit-user-drag: none;
    object-fit: contain;
    border-radius: 4px;
    aspect-ratio: 4/3;
}

 @keyframes fadeIn {
    0% {
        opacity: 0; /* Opacidad inicial al 0% */
    }
    100% {
        opacity: 1; /* Opacidad final al 100% */
    }
}

.containerProjects hr {
    opacity: 0;
    margin: 20px auto 20px;
    width: 84vw;
    align-self: center;
}

.viewMore {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 16px;
    width: 100%;
    height: 44px;
    align-items: center;
    border: 2px outset white;
    margin: 20px 0 0;
    padding: 10px;
    border-radius: 20px;
    border-color: #9a48af80;
    cursor: pointer;
    user-select: none;
}
/* #9a48afb5 */
.viewMore:active {
    background-color: #9a48af80;
}

.cardProject h2 {
    text-align: initial;
}

@media screen and (max-width: 320px) {
    .h1_title {
        margin-top: 20px;
    }
}

@media (min-width: 425px) {
    .containerProjects hr {
        width: 357px;
    }
}

@media (min-width: 768px) {
    .containerProjects hr {
        width: 400px;
    }
  }

@media (min-width: 1024px) {
    .containerProjects p {
        margin: 0;
    }

    .h1_title {
        margin-bottom: 60px;
        margin-top: 70px;
        font-size: 46px;
    }

    .div_a {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .containerProjects hr {
        margin: 45px auto 45px;
    }
    
    .cardProject {
        display: flex;
        flex-direction: row-reverse;
    }

    .containerImg {
        margin: 0;
        width: 50%;
    }

    .card_h2_and_p_container {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-right: 20px;
        margin: 10px 0;
    }

    .card_h2_and_p_container h2 {
        font-size: 32px;
    }

    .card_h2_and_p_container p {
        font-size: 17px;
    }

    .cardProject img {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .viewMore {
        margin: 0 ;
        font-size: 16.5px;
    }


    .viewMore:hover {
        transition: 0.3s;
        background-color: #9a48af80;
    }

    .viewMore:active {
        transition: 0.1s;
        background-color: transparent;
    }
}