.containerProjects {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.h1_title {
    text-align: left;
    margin: 44px 0 10px;
    font-size: 36px;
}

.containerProjects p {
    margin-top: 4px;
    margin-bottom: 20px;
    color: #e5e5e5;
}

.cardProject {
    color: whitesmoke;
}

.containerImg {
    width: 200px;
    height: 200px;
    border: inset 2px rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    margin: 20px auto 20px;
}

.cardProject img {
    width: 200px;
    height: 200px;
    padding: 10px;
    user-select: none;
    -webkit-user-drag: none;
    object-fit: contain;
    opacity: 0; /* Comienza con opacidad 0 */
    animation: fadeIn 0.4s ease-in-out forwards;
}
 @keyframes fadeIn {
    0% {
        opacity: 0; /* Opacidad inicial al 0% */
    }
    100% {
        opacity: 1; /* Opacidad final al 100% */
    }
}

.containerProjects hr {
    opacity: 50%;
    margin: 10px auto 10px;
    width: 84vw;
    align-self: center;
}

.viewMore {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 16px;
    width: 120px;
    height: 40px;
    align-items: center;
    border: 2px outset white;
    margin: 20px auto;
    padding: 10px;
    border-radius: 20px;
    border-color: #9a48af80;
}
/* #9a48afb5 */
.viewMore:active {
    background-color: #9a48af80;
}

@media screen and (max-width: 320px) {
    .h1_title {
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .containerProjects hr {
        width: 52vw;
    }
  }

@media (min-width: 1024px) {
    .containerProjects p {
        margin: 4px 48px 20px;
    }

    .h1_title {
        margin-bottom: 38px;
    }

    .div_a {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .containerProjects hr {
        display: none;
    }

    .div_a_project {
        width: 360px;
        margin: 0 20px;
    }

    .containerImg {
        width: 240px;
        height: 240px;
        margin: 20px auto 20px;
    }

    .cardProject img {
        width: 240px;
        height: 240px;
    }


    .viewMore:hover {
        transition: 0.3s;
        background-color: #9a48af80;
    }

    .viewMore:active {
        transition: 0.1s;
        background-color: transparent;
    }
}