.navContainer {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: #111010e8;
    border-radius: 2px;
    height: 48px;
}

.logo {
    max-height: 48px;
    user-select: none;
    -webkit-user-drag: none;
}

.navBtn {
    display: flex;
    align-items: center;
    height: 30px;
    margin: 0px 4px 0px;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 600;
    padding: 0 6px;
}

.containerBtns {
    display: flex;
}

.activeBtn {
    height: 30px;
    margin: 0px 4px 0px;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    padding: 0 6px;
    background-color: #9a48af80;
}

.btns_and_lenguage_container {
    display: flex;
    align-items: baseline;
    gap: 26px;
}


@media screen and (max-width: 370px) {
    .logo {
        display: none;
    }
    
    .navContainer {
        /* justify-content: center; */
    }
}

@media (min-width: 375px) {
    .navContainer {
        width: 339px;
    }
}

@media (min-width: 425px) {
    .navContainer {
        width: 389px;
    }
}

@media (min-width: 768px) {
    .navContainer {
        width: 568px;
    }
}

@media (min-width: 1024px) {
    .navContainer {
        align-items: center;
        margin-top: 15px;
        width: 824px;
    }

    .navBtn {
        margin: 16px 10px;
    }

    .navBtn:hover {
        cursor: pointer;
    }

    .logo {
        max-height: 50px;
    }
}
